@mixin shadow(){
  box-shadow: 0 18px 30px 0 rgba(34,46,79,0.16);
}

//Styling for all step tile types
.step{
  position: relative;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: flex-start;

  padding:$step-padding;
  margin-left:$step-indent + 0.5rem;
  margin-bottom: $step-bottom-margin;

  border-radius: $step-border-radius;
  background-color: white;


  *{
    margin-bottom: 0;
    margin-top:0;
  }

  a{
    text-decoration: underline;
  }

  //Add the little step graphic on the left
  &:before{
    position: absolute;
    z-index: 2;
    left:-$step-indent;
    top:50%;
    transform: translateY(-1.5rem);

    width:2rem;
    height:3rem;

    content:'';

    background-image: url('../images/track/step.svg');
    background-color:$steps-background;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;

    box-sizing:border-box;

  }

  &__text-container{
    flex:0 1 auto;
    padding-right:1.25rem;

  }

  &__heading{
    @include azo();
    @include text-normalize();

    margin-right: 0.75rem;
    margin-bottom: 0.25rem;

    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.3px;
    display: inline-block;

  }

  &__button{
    flex:0 1 auto;

    margin:0;
    margin-left: auto;

  }

  p{
    font-size: 1rem;
  }

  //Active step
  &--active{
    @include shadow();

    &:before{
      background-image: url('../images/track/blue-current-step.svg');
    }
  }

  //Adds the active phone icon to an active step
  &--phone-active{

    &:before{
      background-image: url('../images/track/phone-active.svg');
      left: -$step-indent;
    }

  }

  //Greyed out step
  &--disabled{
    color:#A6AFBD;
  }

  //Adds person icon to a greyed out step
  &--interview{
    &:before{
      background-image: url('../images/track/interview-unfilled-step.svg');

    }
  }

  &--interview-active{
    &:before{
      background-image: url('../images/track/interview-active-step.svg');

    }
  }

  //Completed step
  &--completed{
    background-color:transparent;
    h3{
      color:$green;
    }

    &:before{
      background-image: url('../images/track/finished-step.svg');

    }
  }

  //Step that is completed but providing additional info
  &--afterward{
    @include shadow();
    border-left:$step-left-border-width solid $yellow;

    &:before{
      background-image: url('../images/track/phone-after.svg');
      left: calc(-#{$step-indent} - #{$step-left-border-width});
    }

  }


}
