//Breakpoints
$medium : 500px;
$medium-large : 700px;
$large : 1000px;


//Colors
$body-background : #F5F9FC;
$steps-background : #F7FAFD;
$body : #454a54;
$blue : #0084ff;
$green : #01ba66;
$blue-button : #48a7ff;
$yellow : #FAD000;

$tab-link-text : #A8B5C0;
$tab-link-text-active : #303135;

$button-border : #b8c6d5;

$steps-connector-line-color:#d2dce4;

$progress-bar-color : #00c96f;
$progress-bar-track-color : #edf3f7;


//Spacing
$step-indent : 4rem;
$step-padding : 1.5rem;
$step-bottom-margin : 3rem;

$step-left-border-width : 18px;


$sidebar-padding : 2.5rem;
$dashboard-padding : 2.5rem;
$modal-padding : 2.5rem;


//Visual Stuff
$step-border-radius : 10px;
